*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    height: 100dvh;
    overflow: hidden;
}

body
{
    /* border: 3px solid red; */
    height: 100%;
    overflow-y: auto;
    background-color: #252422;
    color: whitesmoke;
    position: relative;
}

header
{
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #403D39;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.link_holder
{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.nav_links
{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Quicksand', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    transition: all 0.3s;
    margin: 5px;
}

.nav_links:hover
{
    background-color: #EB5E28;
    color: black;
}

.nav_links:active
{
    background-color: transparent;
    color: whitesmoke;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
}

#hamburger-icon
{
    display: none;
}

/* This is the title and logo container */
.title-logo
{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo
{
    margin-right: 1rem;
}

.title, .logo
{
    color: #EB5E28;
    font-size: 2rem;
    font-family: 'Titillium Web', 'san-serif';
}

.main_home
{
    /* border: 3px solid green; */
    height: max-content;
    padding: 0.5rem 1.5rem;
    font-family: 'quicksand', serif;
}

.category_heading
{
    margin:  30px 0 0 0;
    font-size: 1.3rem;
}

/* Main section for all movies. */
.line1, .line2
{
    /* border: 3px solid red; */
    width: 100%;
    height: max-content;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

/* Movie information */

.link
{
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    width: max-content;
    /* border: 3px solid hotpink; */
    padding: 0 10px 0 0;
    margin: 0 20px 0 0;
}

.fa-star
{
    color: #EB5E28;
}


.movie_image_holder
{
    height: max-content;
    width: 200px;
    margin: 10px 0 10px 0;
}

.movie_image
{
    border-radius: 10px;
    width: 100%;
    height: 320px;
    transition: all 0.2s;
}

/* Let the image increase in size when hover */
.movie_image:hover
{
    transform: scale(1.05);
}

.movie_info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie_name
{
    font-weight: bold;
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
}

/* Movie Pages desgin  */
.movie_main, .serie_main
{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.h1_movie_title, .h1_serie_title , #Ad_title
{
    font-size: 3rem;
    margin: 15px 0;
    text-align: center;
    font-family: 'Titillium Web', 'san-serif';
}

.text
{
    font-size: 1.1rem;
    font-family: 'Quicksand', serif;
}

/* General Styles */
.buttons_div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.download_link_holder, .buttons_div
{
    /* border: 3px solid green; */
    width: max-content;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.download_link, .buttons_div_button
{
    text-decoration: none;
    background-color: #EB5E28;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'quicksand', serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
    border: none;
    cursor: pointer;
}

.download_link:hover, .buttons_div_button:hover
{
    background-color: rgba(235, 95, 40, 0.76);
}

.download_link:active, .buttons_div_button:active
{
    cursor: wait;
}

.movie_frame, .serie_frame {
    width: 100%;
    max-width: 800px;
    height: auto;
    aspect-ratio: 16/9;
    border: 2px solid white;
}

/* Styling the Series Webpage */
.serie_links_holder
{
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.season_number_class
{
    font-size: 2.5rem;
    font-family: 'Quicksand', sans-serif;
}

.serie_button_class
{
    border: 2px solid #EB5E28;
    outline: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 20px 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.serie_button_class:hover
{
    background-color: #EB5E28;
    color: black;
}

.serie_button_class:active
{
    background-color: transparent;
    color: #EB5E28;
    border: 2px solid transparent;
}

/* This is for the Contact link from index file */
.movie_contact
{
    /* border: 3px solid green; */
    height: max-content;
    padding: 0.5rem 1.5rem;
    font-family: 'quicksand', serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    min-height: 100%;   
}

.contact-heading
{
    margin: 25px 0 25px 0;
}

form
{
    width: 90%;
    height: max-content;
}

.form_divisions
{
    width: 100%;
    display: flex;
    flex-direction: column; 
    padding: 0.5rem 0;
}

.contact_labels
{
    font-size: 1.5rem;
}

#name, #email, #subject
{
    width: 100%;
    height: 20px;
    padding: 1.8rem 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
    border-bottom: 2px solid #ff7640;
    color: white;
    outline: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-family: 'quicksand', serif;
}

#message
{
    font-family: 'quicksand', serif;
    padding: 1.8rem 0.5rem;
    font-size: 1.2;
    width: 100%;
    min-height: 150px;
    background-color: transparent;
    border-bottom: 2px solid #ff7640;
    color: white;
    outline: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

/* This is for the Contact page With the Ad Button for Series Page*/
.submit_link, #id_redirect
{
    text-decoration: none;
    border: none;
    outline: none;
    text-align: center;
    color: black;
    padding: 15px 30px;
    background-image: linear-gradient(45deg,#EB5E28 50%, #ff7640 50%);
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'quicksand', serif;
}

.submit_link:hover, #id_redirect:hover
{
    transform: scale(1.03);
}

.submit_link:active, #id_redirect:hover
{
    transform: scale(1);
}

.contact_link
{
    font-family: 'quicksand', serif;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 15px 30px;
    background-image: linear-gradient(45deg,#EB5E28 50%, #ff7640 50%);
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.contact_link:hover
{
    transform: scale(1.1);
}

.contact_link:active
{
    transform: scale(1);
}

/* Fix The Ad State for Series */
#Ad_State
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    margin: 25px 0;
}

/* Pop up for movie site */
#pop_Ad
{
    /* border : 3px solid red; */
    position : absolute;
    top : 65%;
    left : 50%;
    width : 98%;
    height : max-content;
    transform : translate(-50%, -50%);
    background-color : #403D39;
    padding: 20px 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#par_ad_title
{
    padding: 20px 0;
    font-size: 2rem;
    font-family: 'quicksand', serif;
    font-weight: bolder;
}

/* Button holder for container */
#button_container
{
    /* border: 3px solid red; */
    width : 60%;
    display: flex;
    justify-content: space-between;
}

#button_close, #button_ad_redirect
{
    text-decoration: none;
    border: none;
    outline: none;
    text-align: center;
    color: black;
    padding: 10px 20px;
    background-image: linear-gradient(45deg,#EB5E28 50%, #ff7640 50%);
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'quicksand', serif;
}

footer
{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
}


/* Responsive Design */
@media (max-width: 768px) {

    .nav_links
    {
        font-family: 'Quicksand', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        height: 50px;
        transition: all 0.3s;
        width: 100%;
    }
    
    .link_holder {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        z-index: 1;
    }

    .link_holder.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    #hamburger-icon
    {
        display: block;
        padding: 10px;
        background-color: #252422;
        color: #EB5E28;
    }


    #button_close, #button_ad_redirect
    {
        padding: 5px 10px;
        font-size: 1rem;
        width: max-content;
        margin: 10px 0;
    }

    #button_container
    {
        align-items: center;
        flex-direction: column;
    }


    #id_redirect
    {
        padding: 10px 15px;
        font-size: 1.2rem;
        margin-top: 20px;
        font-family: 'quicksand', serif;
    }

    .contact-heading
    {
        font-size: 1.2rem;
    }

    .contact_link
    {
        font-family: 'quicksand', serif;    
        padding: 15px 30px;
        font-size: 1.2rem;
        font-weight: bolder;
    }

    #message, #name, #email, #subject
    {
        font-size: 0.75rem;
    }

    .contact_labels
    {
        font-size: 1rem;
    }

    .title, .fa-film {
        font-size: 1.3rem;
    }

    .h1_movie_title, .h1_serie_title, #Ad_title {
        font-size: 2rem;
        margin: 15px 0;
    }

    .download_link, .buttons_div_button{
        font-size: 14px;
    }

    .buttons_div_button{
        font-size: 14px;
    }

    .link
    {
        margin: 0 20px 0 0;
    }


    /* Main section for all movies. */
    .line1
    {
        padding: 15px 0;
        margin: 0;
    }

    .main_home
    {
        padding: 0.5rem 1rem;   
    }

    /* Movie information */
    .movie_image_holder
    {
        width: 150px;
        margin: 0;
        padding: 0;
    }

    .movie_image
    {
        border-radius: 10px;
        width: 100%;
        height: 220px;
        transition: all 0.2s;
    }

    .movie_info
    {
        font-size: 0.75rem;
    }

    .movie_name
    {
        font-weight: bold;
        font-size: 1rem;
        margin: 10px 0;
    }

    .serie_button_class
    {
        font-size: 0.85rem;
    }
}



@media (min-width: 1200px) {
    header
    {
        height: 80px;
        padding: 40px;
    }

    .title, .logo
    {
        font-size: 2rem;
    }

    .nav_links
    {
        font-size: 1.2rem;
    }

    .h1_movie_title, .h1_serie_title, #Ad_title
     {
        font-size: 2.5rem;
        margin: 15px 0;
    }

    .download_link, .buttons_div_button {
        font-size: 18px;
    }

}

@media screen and (width >= 2000px)
{
    #Ad_State
    {
        margin-top: 300px;
        margin-bottom: 75px;
    }

    #id_redirect
    {
        padding: 20px 60px;
        font-size: 3rem;
        margin-top: 20px;
        font-family: 'quicksand', serif;
    }

    .contact_link
    {
        padding: 20px 60px;
        font-size: 4rem;
        margin-top: 30px;

    }

    header
    {
        height: 200px;
        padding: 40px;
    }

    .title, .logo
    {
        font-size: 5rem;
    }

    .nav_links
    {
        font-size: 3.2rem;
    }

    /* Movie information */
    .movie_image_holder
    {
        width: 560px;
        margin-bottom: 50px;
    }

    .movie_image
    {
        height: 900px;
    }

    .movie_name
    {
        font-size: 2.8rem;
    }

    .movie_info
    {
        font-size: 2.8rem;
    }

    .category_heading
    {
        font-size: 5rem;
    }

    .movie_main
    {
        height: 3000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .serie_frame {
        width: 100%;
        max-width: 800px;
        height: auto;
        aspect-ratio: 16/9;
        border: 2px solid white;
    }

    .movie_frame, .serie_frame
    {
        margin-top: 300px;
        transform: scale(2.25);
    }

    .h1_movie_title, .h1_serie_title, #Ad_title
    {
        margin-top: 100px;
        font-size: 8rem;
        font-family: 'Quicksand', sans-serif;
    }

    .season_number_class
    {
        font-size: 6rem;
        font-family: 'Quicksand', sans-serif;
    }

    .serie_button_class
    {
        border: 6px solid #EB5E28;
        font-size: 4rem;
        margin: 20px 0;
        width: 100%;
        height: 180px;
        padding: 20px;
        font-family: 'Quicksand', sans-serif;
    }

    .text
    {
        font-size: 4rem;
        margin-top: 50px;
        font-family: 'Quicksand', sans-serif;
    }

    .download_link, .buttons_div_button {
        font-size: 3rem;
        font-family: 'Quicksand', sans-serif;
        padding: 20px 70px;
    }

}

/* Changing scroll bars for browsers */
/* Webkit Browsers */
::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #000000; /* Light grey background */
    border-radius: 100%; /* Curved corners */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000000; /* Thumb color */
    border-radius: 100%; /* Curved corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; /* Darker on hover */
  }
  
  ::-webkit-scrollbar-button {
    display: none; /* Removes arrows */
  }
  
  /* Firefox */
  html {
    scrollbar-color: #EB5E28 #000000; /* Thumb color and track color */
    scrollbar-width: thin; /* Makes the scrollbar thin */
  }
  
  